 /**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/
  
  body{
    font-family: 'monospace', sans-serif ;
    
  }
  .font-primary{
    color:#00ABAE;
  
  }
  .title-icon{
    font-size: 35px;
    font-weight: bold;
  }
  /**** About section*/

#about{
 margin: 60px auto;
 max-width: 400px;
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
 
}

#about img{
 width: 120px;
 height: 120px;
 border-radius: 50%;
 padding: 3px;
 border: 1px solid #00ABAE;
}
#about .name{
    color:#00ABAE;
    font-size: 20px;
    font-weight:bold;
}
#about .vocation{
    color:#424343;
    font-size: 16px;
}
#about .skills{
    color:#00ABAE;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00ABAE;
    
}
/*#about .email{
    color:#00ABAE;
    font-size: 20px;
    font-weight:lighter;
    margin-top: 14px;
    border-top: 1px solid #00ABAE;
}*/
 
#about p{
    color:#6e6e70;
    font-size: 14px;

}
#about h2{
  font-weight:bold ;
  font-size: 23px;
  margin-bottom: 15px;
  font-family: 'Times New Roman', Times, serif;
}
/*
.navbar .container ul .collapse li a .font-black{
  color: #bd1212;
}*/
#about .bi{
  color:#00ABAE;
  font-size: 25px;
}   

/*Navagation*/
  nav{
    background:linear-gradient(to right, #a5e6e6, #dbefe7);
   
  }
 
  h1{
    font-family: 'Zilla Slab', serif;
  }
  #project{
    margin: 60px auto;
    width:80%;
    font-family: 'Times New Roman', Times, serif;
  }
  #project .card img{
    width: 100%;
  }
  /*why the class card is overwriting the h2*/
  #project h2{
    font-weight:bold ;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
  }
  #project .card{
    text-align: left;
  }
  #project h5{
    font-weight:bold ;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }

  footer{
    background:linear-gradient(to right, #a5e6e6, #dbefe7);
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    padding-top: 20px;
    text-align: center;
    color:#0a0a0a;
  }
  footer .email{
    color:#00ABAE;
    font-size: 16px;
    font-weight:lighter;
    margin-top: 14px;
}

  